/* font */
body{
    font-family: 'Vollkorn', serif;
    margin-top: .5em;
    font-size: 22px;
}
.name{
    font-family: 'Permanent Marker',cursive;
    font-size: 4em;
}
/* root */
:root {
    --bs-primary: #ffffff;
    --bs-primary-rgb: 255,255,255;
    --bs-secondary:#F7F7F8;
    --bs-secondary-rgb:247,247,247;
    --bs-dark:#222;
    --bs-dark-rgb:34,34,34;
    --bs-gray-700: #495057;   
  }
.btn-outline-primary{
    border-color: var(--bs-primary)!important;
    background-color: var(--bs-dark)!important;
    color: var(--bs-secondary)!important;
}
.btn-outline-primary:hover{
    background-color:var(--bs-gray-700)!important;
}
.banner{
    background: var(--bs-dark) url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    height: 400px;  
}
.container-sm{
    text-align: center;
}
.introduce{
    width: 980px;
    height: auto;
} 
.line{
    border-top: 2px solid #222;
    border-bottom : 2px solid #222;
}
.cmsystem img{
    width: 680px;
    height: auto;
}
.project img{
    width: 980px;
    height: auto;
}
/*---- animation text -----*/

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }